<!DOCTYPE html>
<html>
  <head>
    <title>Twinkle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:image" content="https://twinkle-dev.s3-us-west-1.amazonaws.com/Screen+Shot+2020-09-15+at+3.48.00+PM.png">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
    </style>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
